<div id="entryPage">
      
    <h1 id="title">PolyDessin 🖉</h1>
    <div id="buttonContainer">
        <div *ngFor="let items of menuItems">
            <div *ngIf="items.shortcutName != 'Exporter' && items.shortcutName != 'sauvegarde'">
                <div *ngIf= "items.shortcutName == 'Continuer'; else elseBlock">
                    <button [disabled] = "!drawingExist" (click)="execute(items.shortcutName)"mat-button>
                        <mat-icon>{{items.icon}}</mat-icon>
                            <br>
                        <span class="buttonText">{{items.name}}</span>
                    </button>    
                </div>
                <ng-template #elseBlock>
                    <button (click)="execute(items.shortcutName)"mat-button>
                        <mat-icon>{{items.icon}}</mat-icon>
                            <br>
                        <span class="buttonText">{{items.name}}</span>
                    </button>
                </ng-template>
            </div>
        </div>
        
    </div>
    <div class="footer"><p>© Équipe-202 </p></div>
</div>



