<h1 style="text-align: center; font-size: 90px;">PolyDessin ✎</h1>
<div id="buttonContainer">
    <div>
        <button mat-button>
         <mat-icon>add_circle</mat-icon>
            <br>
         <span>Créer un dessin</span>
     </button>
    </div>
    <div>
        <button mat-button>
            <mat-icon>cloud_download</mat-icon>
            <br>
            <span>Charger le dernier dessin</span>
        </button>
    </div>
    <div>
        <button mat-button>
            <mat-icon>camera</mat-icon>
            <br>
            <span>Ouvrir la gallerie</span>
        </button>
    </div>
    <div>
        <button mat-button>
            <mat-icon>menu_book</mat-icon>
            <br>
            <span>Consulter le guide d'utilisation</span>
        </button>
    </div>
    
</div>