article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    overflow: hidden;
}

nav,article{
  height: 80vh;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}
nav {
    float: left;
    width: 20%;
    background: rgb(205, 205, 205);
}
  
@media (max-width: 700px) {
    nav, article {
      width: 100%;
      height: auto;
    }
}

*{
    box-sizing: border-box;
}

#modal-quit-button {
  float: right;
  background-color: red;
}

#guide-title {
  float: left;
}
#modal-header {
  overflow: hidden;
  background-color: #6681a5;
  padding-left: 10px;
}

li {
  list-style-type: none;
}

#previous-button{
  float: left;
}
#next-button{
  float: right;
}