article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    overflow: hidden;
}

nav,article{
  height: 80vh;
  overflow-y: auto;
}
/*
section:after {
    content: "";
    display: table;
    clear: both;
}
*/

#guideLinkBar {
    float: left;
    width: 20%;
    background: rgb(205, 205, 205);
}
/*
@media (max-width: 300px) {
    nav, article {
      width: 100%;
      height: auto;
    }
}
*/
*{
    box-sizing: border-box;
}

#guideQuitButton {
  float: right;
  background-color: red;
}

#guideTitle {
  float: left;
}

#guideHeader {
  overflow: hidden;
  background-color: #4d7fc2;
  padding-left: 10px;
}

.guide-selection-button {
  width: 100%;
  background-color: rgb(200, 200, 200);
  border-radius: 0px;
  text-align: left;
}

.toolButtons {
  display: none;
}

#previousButton{
  float: left;
}
#nextButton{
  float: right;
}

button:hover {
  background-color: rgb(150, 150, 150);
}
/*
button:focus {
  background-color: rgb(150, 150, 150);
}
*/

#Outils {
  width: 100%;
  background-color: rgb(180, 180, 180);
  border-radius: 0px;
  text-align: left;
}
