<div>
  <header id="guideHeader">
    <h1 id="guideTitle">Guide d'utilisation</h1>
    <button mat-raised-button id="guideQuitButton" (click)="closeModal()">X</button>
  </header>
</div>

<section>
  <nav id='guideLinkBar'>  

    <!-- Welcome and Menu button -->
    <div *ngFor="let func of functionality;">
      <button *ngIf = "func.type == 'Bienvenue' || func.type == 'Menu'" 
        mat-raised-button class="guide-selection-button" (click)="markAsSelected(func.shortcutName)" [ngClass]="(func.isSelected === 'true') ? 'selected':'notSelected'" >{{func.shortcutName}}</button>
    </div>

    <!-- Display tool button -->
    <button 
      mat-raised-button class="guide-selection-button" (click) = "showTools=!showTools" [ngClass]="(showTools === true) ? 'selected':'notSelected'">Outils</button>

    <!-- Tools button -->
    <div *ngIf="showTools">
      <div *ngFor="let func of functionality;">
        <button *ngIf="func.type == 'Outils'"  mat-raised-button
          class="guide-selection-button" (click)="markAsSelected(func.shortcutName)" [ngClass]="(func.isSelected === 'true') ? 'selected':'notSelected'">{{func.shortcutName}}</button>
      </div>
    </div>
    
  </nav>

  <div id='guideContent'>
    <app-guide-content></app-guide-content> 
  </div>
  
</section>