.form-container {
    height: auto;
    width: auto;
}

canvas {
    display: none;
}

#prev {
    overflow: auto;
}

#dimensions {
    margin-left: 10%;
}

h1 {
    text-align: center;
}

#submit-btn {
    width: 25%;
}

button {
    margin-top: 5%;
    margin-bottom: 5%;
}
