.gallery {
    /*overflow-x: scroll;*/
    overflow-y: scroll;
    height: 90vh;
    width: 90vw;
    background-color: #313131;
}

mat-card {
    position: relative;
    align-items: baseline;

    border-color: lightskyblue;
    border-width: 2px;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}
#cards-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
