<div class="gallery" (keydown)="blockEvent($event)">
    <h1>Galerie</h1>
    <mat-form-field class="header">
        <mat-chip-list #tagList>
            <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)">
                {{ tag }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>

            <input
                matInput
                [matChipInputFor]="tagList"
                [matChipInputSeparatorKeyCodes]="inputTagSeparators"
                placeholder="Étiquette..."
                (matChipInputTokenEnd)="addTag($event)"
            />
            <button id="filter-btn" mat-stroked-button color="primary">Filtrer</button>
        </mat-chip-list>
    </mat-form-field>

    <div id="cards-container">
        <mat-card class="drawing" *ngFor="let drawing of fakeImage">
            <mat-card-header>
                <mat-card-title> {{ drawing.title }} </mat-card-title>
                <mat-card-subtitle> {{ drawing.tag }} </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{ drawing.image }}" />

            <mat-card-actions>
                <button mat-stroked-button color="warn">
                    <mat-icon matTooltip="Supprimer"> delete </mat-icon>
                </button>
                <button mat-stroked-button color="basic">
                    <mat-icon matTooltip="Continuer dessin"> arrow_right_alt</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
