<div  class="form-container">
    <h1>Nouveau dessin</h1>
    <div  class="drawForm">
        <form [formGroup]="newDrawForm" (ngSubmit)="onSubmit()"> <!--TODO: ng submit function-->

            <mat-form-field>
                <mat-label for="canvWidth">Largeur (px)</mat-label>
                <input matInput type="text" formControlName="canvWidth" [value]="width">
                
            </mat-form-field>

            <mat-form-field>
                <mat-label for="canvHeight">Hauteur (px)</mat-label>
                <input matInput type="text" formControlName="canvHeight" [value]="height">
            </mat-form-field>

            <mat-form-field>
                <mat-label for="canvColor">Couleur (hex)</mat-label>
                <input matInput type="text" formControlName="canvColor" [value]="color">
            </mat-form-field>

            <p *ngIf="(canvWidth && canvWidth.invalid) || 
            (canvHeight && canvHeight.invalid)" class="warnMessage"> <!--Cas géré si canv* est null-->
                Veuillez entrer un entier positif
            </p> 
            <p *ngIf="canvColor && canvColor.invalid" class="warnMessage">
                Valeur hexadécimale invalide!
            </p>

            <svg id="palette">
                <circle *ngFor="let attr of paletteArray" class="paletteElem"
                [style.cx]=attr.cx cy="12" r="12" [style.fill]=attr.color (click)="updateColor(attr.color)"></circle>
            </svg>

            <button mat-raised-button color="primary" 
            type="submit" [disabled]="newDrawForm.invalid">C'est parti!</button>
            
        </form>
        <div>
            <button mat-button (click)="closeModalForm()">Cancel</button>
        </div>

    </div>

</div>


