<div>
    <app-color-picker></app-color-picker>
</div>
<div class="drawingTools" *ngFor="let func of funcTools">
    <div *ngIf="func.name === 'Annuler' || func.name === 'Refaire'; else elseBlock">
        <div *ngIf="func.name === 'Annuler'; else redoBlock">
            <button
                [disabled]="disableUndo"
                class="toolBtn"
                mat-icon-button
                color="primary"
                matTooltip="{{ func.name }}"
                matTooltipPosition="after"
                (click)="buttonAction(func.name)"
            >
                <mat-icon svgIcon="undo"></mat-icon>
            </button>
        </div>
        <ng-template #redoBlock>
            <button
                [disabled]="disableRedo"
                class="toolBtn"
                mat-icon-button
                color="primary"
                matTooltip="{{ func.name }}"
                matTooltipPosition="after"
                (click)="buttonAction(func.name)"
            >
                <mat-icon svgIcon="redo"></mat-icon>
            </button>
        </ng-template>
    </div>
    <ng-template #elseBlock>
        <div>
            <button
                class="toolBtn"
                mat-icon-button
                color="primary"
                matTooltip="{{ func.name }}"
                matTooltipPosition="after"
                (click)="buttonAction(func.name)"
            >
                <img src="{{ func.icon }}" class="toolIcon" />
                <div [ngClass]="activeButton === func.name ? 'selected' : 'notSelected'">
                    <img />
                </div>
            </button>
        </div>
    </ng-template>
</div>
