<article id='guideContent'>

  <div *ngFor="let func of functionality">
    <div *ngIf="(func.isSelected === 'true')">
      <h2 id="title">{{func.name}} </h2>
      <p id="shortDescription">
        {{func.shortDescription}}</p>
      <p id="description">
        {{func.description}}</p>
    </div>
  </div>
  <div>
    <button mat-raised-button id="previousButton" (click)="previousPage()" [ngClass]="(functionality[0].isSelected === 'true') ? 'hiddenButton':'shownButton'" >Précédent</button>
    <button mat-raised-button id="nextButton" (click)="nextPage()" [ngClass]="(functionality[functionality.length-1].isSelected === 'true') ? 'hiddenButton':'shownButton'">Suivant</button>
  </div>
</article>