<div class = "drawWindow">
    <!--Cette portion de code peut causer problème. On ne peut appeler qu'une seule fonction, openContext-->
    <app-option-bar></app-option-bar>
    
    <mat-sidenav-container class="firstSplit">
        <mat-sidenav class= "toolsSideBar" mode ="side" opened height = "100%" disableClose fixedInViewPort>
            <div class= "drawingTools" *ngFor="let func of funcTools; index as id">
                <div>
                    <button class="toolBtn" mat-icon-button color="primary" matTooltip={{func.name}} matTooltipPosition = "after" (click)= "buttonAction(func.name)" (click)="getSlectedTool(func.name)">
                        <img src={{func.icon}} class="toolIcon"> 
                    </button>    
                </div>
            </div>
        </mat-sidenav>
        
        <mat-sidenav #toolsOptionsRef class ="expendedOptions" mode ="side" position ="end" role="navigation" [opened] = openToolOptions>
            <h1>  {{selectedTool}}</h1>
            <hr>
            <div [ngSwitch]= "selectedTool">
                <div *ngSwitchCase = " 'Rectangle' ">
                    <label> Epaisseur du trait de contour </label>
                    <mat-slider min= "0" max= "15" value= "1.5" ></mat-slider> <br>
                    <label> type de tracé </label>
                    <button> miter-clip</button>
                    <button> miter </button>
                    <button> arc </button>
                    <button> bevel </button>
                    <button> round</button>
                    <br>
                </div>
                <div *ngSwitchCase = " 'Élipse' ">
                    <label> Epaisseur du trait de contour </label>
                    <mat-slider min= "0" max= "15" value= "1.5" ></mat-slider> <br>
                    <label> type de tracé </label>
                    <button> miter-clip</button>
                    <button> miter </button>
                    <button> arc </button>
                    <button> bevel </button>
                    <button> round</button>
                </div>
                <div *ngSwitchCase = " 'Polygone' ">
                    <label> Epaisseur du trait de contour </label>
                    <mat-slider min= "0" max= "15" value= "1.5" ></mat-slider> <br>
                    <label> type de tracé </label>
                    <button> miter-clip</button>
                    <button> miter </button>
                    <button> arc </button>
                    <button> bevel </button>
                    <button> round</button> <br>
                    <label> Nombre de côté du polygonne</label>
                    <mat-slider min= "3" max = "12" value ="3"> </mat-slider><br>
                </div>
                <!-- for the prencil-->
                <div *ngSwitchCase = " 'Crayon' ">
                    <label> Epaisseur du trait </label>
                    <mat-slider min= "0" max= "15" value= "1.5" ></mat-slider> <br>
                </div>
                <!-- for the brush -->
                <div *ngSwitchCase = " 'Pinceau' ">
                    <label> Epaisseur du trait </label>
                    <mat-slider min= "0" max= "15" value= "1.5" ></mat-slider> <br>
                    <label> texture du trait </label>
                    <!--we must have five buttons with five different textures
                    the following buttons are not good-->
                    <button> miter-clip</button>
                    <button> miter </button>
                    <button> arc </button>
                    <button> bevel </button>
                    <button> round</button> <br>
                </div>
                <!-- for the calligraphy-->
                <div *ngSwitchCase = " 'Plume' ">
                    <label> longueur de la ligne</label>
                    <mat-slider min= "0" max= "15" value= "1.5" ></mat-slider> <br>
                    <label> Angle d'orientation </label>
                    <mat-slider min= "0" max = "180" value ="3"> </mat-slider><br>
                </div>

                <!-- for the aerosol-->
                <div *ngSwitchCase = " 'Aérosol' ">
                    <label> Nombre d'émission par seconde </label>
                    <input type="text" value= "1.5"> <br><br>
                    <label> Diamètre du jet </label>
                    <input type= "text" value = "1"> <br>
                </div>
                <!-- for the line -->
                <div *ngSwitchCase = " 'Ligne' ">
                    <label> type de jonction </label>
                    <button> normal</button>
                    <button> avec point</button> <br><br>
                    <label> Épaisseur de la ligne </label>
                    <input type="text" value= "3"> px <br><br>
                    <label> Diamètre des points de jonction</label>
                    <input type= "text" value ="3"> px <br>
                </div>
                <!-- for the eraser -->
                <div *ngSwitchCase = " 'Efface' ">
                    <label> Taille de l'efface </label>
                    <input type="text" value="2"> px <br>
                </div>
                <!-- for the text -->
                <div *ngSwitchCase = " 'Texte' ">
                    <label> Police de texte </label>
                    <select>
                        <option>arial</option>
                        <option> times new Roman</option>
                    </select> <br>
                    <label> taille de la police</label>
                    <input type="text" valeur="10">
                    <br>
                    <label> Mutateur</label> <br>
                    <!-- source: Icons made by <a href="https://www.flaticon.com/authors/google"
                         title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>-->
                    <button> 
                        <img src ="../../../assets/images/bold.png">
                    </button>
                    <!-- source: Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" 
                        title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>-->
                    <button> 
                        <img src="../../../assets/images/italics.png">
                    </button>
                    <br>
                    <label> Alignement</label> <br>
                    <!-- Replace the text with the images-->
                    <!-- source: Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" 
                        title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>-->
                    <button>
                        <img src="../../../assets/images/left-align.png">    
                    </button>
                    <!--source: Icons made by <a href="https://www.flaticon.com/authors/bqlqn"
                         title="bqlqn">bqlqn</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>-->
                    <button> 
                        <img src="../../../assets/images/align-center.png">    
                    </button>
                    <!--source: Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" 
                        title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>-->
                    <button> 
                        <img src="../../../assets/images/right-align.png">  
                    </button>
                </div>
                
                <!-- for the color-picker-->
                <div *ngSwitchCase = " 'Choisir couleur' ">
                    <app-color-picker></app-color-picker>
                </div>
               
                <div *ngSwitchCase = "'Étampe'">
                    <label> facteur de mise à l'échelle de l'étampe </label>
                    <mat-slider min= "0" max = "100" value ="50"> %</mat-slider><br>
                    <label> Angle d'orientation de l'étampe</label>
                    <input type = "text" value= "90"> degré <br>
                    <label> type d'étampe</label>
                    <!-- here goes a list of stamps -->

                </div>
            </div>
        </mat-sidenav>
    
        <mat-sidenav-content role="region" position="end">
            
            
            <div class ="workSpace">
                <app-board #board ></app-board>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>
