
.topToolBar{
    height: 9vh;  //risque d'être changé pour un %
}

.topToolBar > *{
    margin-right: 1px;
}
.drawingTools{
    width: 5%;
    border-right: thick;

    padding-bottom: 5px; 
    
    margin-left: 15%;
}

.expendedOptions{
    width : 25%;
}
.svgElem{
    position:relative;
}

.toolsSideBar{
    width: 4vw;
    height : auto;
}

mat-sidenav-content{
    height: 91vh;
}

.toolIcon {
    height: 18px;
    width: 18px;
    
    position: relative; // alignement des icônes avec les boutons respectifs
    top: -3px; 

    filter: invert(100%); // inversion des couleurs afin d'obtenir des icônes blancs
}

.toolBtn {
    height: 35px;
    width: 35px;
    
}

/*.toolBtn:focus { // le bouton vire au rose après avoir été cliqué
    background-color: rgb(255, 34, 107); 
    
}*/





