.topToolBar{
    background-color: darkblue;
}
.topToolBar > *{
    margin-right: 10px;
}
.drawingTools{
    width: 5%;
    border-right: thick;;
    border-color: black;
    padding-bottom: 5px; 
}

.expendedOptions{
    width : 10%

}
.svgElem{
    position:relative;
    object-position: right;
}

mat-sidenav{
    width: 8vh;
    background-color: darkblue;
    height :100%
}
.windowSplitted{
    height : 100%;
}
mat-sidenav-container{
    background-color: grey;
    height:100%
     
}

