.topToolBar{
    background-color: darkblue;
}
.topToolBar > *{
    margin-right: 10px;
}
.drawingTools{
    width: 5%;
    border-right: thick;;
    border-color: black;
    padding-bottom: 5px; 
}

.expendedOptions{
    width : 10%;
    background-color:lightblue;
}
.svgElem{
    position:relative;
}

.toolsSideBar{
    width: 8vh;
    background-color: darkblue;
    height :100%
}

mat-sidenav-content{
    background-color: grey;
    height:100%;
    
     
}


