/////////////////////////////////////////////////////
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-dialog-container#GuideConfig {
    position: fixed;
    width: 100%;
    height: 100%;
}
///////////////////////////////////////////

