p,
h2 {
    color: black;
}

#previousButton {
    float: left;
}

#nextButton {
    float: right;
}

.hiddenButton {
    display: none;
}

.shownButton {
    display: block;
}

#shortDescription {
    font-weight: 900;
}

#shortDescription,
#description {
    line-height: 1.8;
    font-size: large;
}

#title {
    font-size: xx-large;
}
