<form [formGroup]="colorForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label for="red">Rouge</mat-label>
        <input matInput type="text" formControlName="red" (change)="onRGBSliderInput($event)" [value]="cData.RedSliderInput">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Vert</mat-label>
        <input matInput type="text" formControlName="green" (change)="onRGBSliderInput($event)" [value]="cData.GreenSliderInput">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Bleu</mat-label>
        <input matInput type="text" formControlName="blue" (change)="onRGBSliderInput($event)" [value]="cData.BlueSliderInput">
    </mat-form-field>
</form>

<!--Individual sliders modifying other attributes-->
<div>
    <mat-label>Saturation</mat-label>
</div>
<mat-slider thumbLabel type="range" min="0" step="1" max="100" [(ngModel)]="cData.SaturationSliderInput" (change)="onSLSliderInput($event)"></mat-slider>

<div>
    <mat-label>Luminance</mat-label>
</div>
<mat-slider thumbLabel type="range" min="0" step="1" max="100" [(ngModel)]="cData.LightnessSliderInput" (change)="onSLSliderInput($event)"></mat-slider>
<div>
    <mat-label>Opacité</mat-label>
</div>
<mat-slider thumbLabel type="range" min="0" step="1" max="100" [(ngModel)]="cData.OpacitySliderInput" (change)="sliderAlphaChange()"></mat-slider>
