<!-- TODO : property binding? need to garantie square shape-->
<div id="myDiv">
<mat-slider min="0" max="1" step="0.01" vertical="true" [(ngModel)]="primaryAlpha" (change)="primaryAlphaChange($event)"></mat-slider>
<canvas id="color-picker" height="200" width="200" (mousedown)="colorSelector($event)">
</canvas>
<mat-slider min="0" max="1" step="0.01" vertical="true" [(ngModel)]="secondaryAlpha" width="10px" (change)="secondaryAlphaChange($event)"></mat-slider>

<button (click)="swapPrimarySecondary()" >swap</button>
</div>