tr {
    max-height: 75px;
}
td {
    font-size: 0px;
    
}
button {
    font-size: 3px;
    
    text-align: center;
}
label {
    font-size: 5px;
}
input {
    width: 20px;
    font-size: 5px;
    border: none;
    border-bottom: 1px solid black;
    display: block;
}
canvas {
    opacity: 0.75;
}
.leftInput input {
    background-image: linear-gradient(to right, lightgrey,
    rgb(214, 223, 213) );
}
.rightInput input {
    background-image: linear-gradient(to right,
    rgb(221, 245, 245), lightcyan);
}
.flex-container {
    display: flex;
    justify-content: flex-end;
  }

section {
    background-image: linear-gradient(to right, lightgrey,
    lightcyan );
}
mat-card {
    width: 200px;
    height: 100px;
    
}
