.body{
    margin: 0;
}

.container {

    display: grid;
  
    grid-template-areas:
    "header header header"
    "nav content side";
  
    grid-template-columns: 20%;
    grid-template-rows: 10%;
    grid-gap: 0;
  
    height: 90vh;
  }

  header {
    grid-area: header;
    background-color: red;
  }
  
  nav {
    grid-area: nav;
    background-color: blue;
    margin-left:0;
  }
  
  main{
    background-color: green;
    grid-area: content;
    overflow: scroll;
  }
  
  aside {
    background-color: red;
    grid-area: side;
    margin-right: 0;
  }