<mat-toolbar class="topToolBar">
    <div>
        <button class="topBtn" mat-mini-fab color="primary" matTooltip="{{ funcMenu[0].name }}" (click)="openNewDrawForm()" (click)="sendSigKill()">
            <mat-icon class="topIcon"> {{ funcMenu[0].icon }}</mat-icon>
        </button>
        <button class="topBtn" mat-mini-fab color="primary" matTooltip="{{ funcMenu[1].name }}" (click)="openNewDrawForm()" (click)="sendSigKill()">
            <mat-icon class="topIcon"> {{ funcMenu[1].icon }}</mat-icon>
        </button>

        <button class="topBtn" mat-mini-fab color="primary" matTooltip="{{ funcMenu[2].name }}" (click)="openUserGuide()" (click)="sendSigKill()">
            <mat-icon class="topIcon"> {{ funcMenu[2].icon }}</mat-icon>
        </button>
        <button class="topBtn" mat-mini-fab color="primary" matTooltip="{{ funcMenu[3].name }}" (click)="openNewDrawForm()" (click)="sendSigKill()">
            <mat-icon class="topIcon"> {{ funcMenu[3].icon }}</mat-icon>
        </button>

        <button class="topBtn" mat-mini-fab color="primary" matTooltip="{{ funcMenu[4].name }}" (click)="openExportForm()" (click)="sendSigKill()">
            <mat-icon class="topIcon">{{ funcMenu[4].icon }}</mat-icon>
        </button>
    </div>
    <mat-slide-toggle [formControl]="toggleGridControl" id="grid-toggle" (change)="toggleGrid($event)">
        <mat-icon>grid_on</mat-icon>
    </mat-slide-toggle>
    <!--**************************************************-->
</mat-toolbar>
