.drawForm >* {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.form-container {
    padding: 25px;
    width: 20%;
    background-color: white;
   
    border-style: solid;
    border-color: lightgray;
    border-radius: 15px;
    border-width: thin; 
    
    margin: auto; /*Centrer l'élément dans la page*/
    margin-top: 7%;

}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
}
