.form-container {
    height: 70vh;
    width: 30vw;
    overflow-y: auto;
    overflow-x: hidden;
}
.chipContainer {
    width: 100%;
}
.warnMessage {
    font-size: 12px;
    color: rgb(255, 46, 46);
    position: absolute;
}

#submit-btn {
    width: 25%;
}

button {
    margin-top: 5%;
    margin-bottom: 5%;
}
