*{
  box-sizing: border-box;
}

#guideLinkBar, #guideContent {
  float: left;
  height: 80vh;
  overflow-y: auto;  
  overflow-x: hidden;
}

#guideContent {
    padding: 20px;
    width: 70vw;
    background-color: #f1f1f1;
}

#guideLinkBar {
    width: 20vw;
    max-width: 200px;
    min-width: 140px;
    background-color: rgb(200, 200, 200);
}

#guideQuitButton {
  float: right;
  background-color: red;
}

#guideTitle {
  float: left;
}

#guideHeader {
  overflow: hidden;
  background-color: #4d7fc2;
  padding-left: 10px;
}

.guide-selection-button {
  width: 100%;
  background-color: rgb(200, 200, 200);
  border-radius: 0px;
  text-align: left;
  font-weight: lighter;
  color:black;
}

#outilButton{
  width: 100%;
  background-color: rgb(133, 133, 133);
  border-radius: 0px;
  text-align: center;
  font-weight: lighter;
  color:black;
}

button:hover {
  background-color: rgb(150, 150, 150);
}

.selected{
  font-weight: 900;
  //color: black;
}

.notSelected{
  font-weight: lighter;
  //color:rgb(60, 60, 60);
}

.hiddenButton{
  display: none;
}
.shownButton{
  display: block;
}
#previousButton{
  float: left;
}
#nextButton{
  float: right;
}

/*
button:focus {
  background-color: rgb(150, 150, 150);
}
*/

/* #Outils {
  width: 100%;
  background-color: rgb(180, 180, 180);
  border-radius: 0px;
  text-align: left;
} */

/*
@media (max-width: 300px) {
    nav, article {
      width: 100%;
      height: auto;
    }
}
*/